// @import 'data-tables';

//CSS Reset

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*:focus{
    outline: none !important;
}

//Variables

$blue: #009EEB;
$hover-blue: #007DBA;
$green: #13CE66;
$hover-green: darken($green, 10);
$yellow: #FFC82C;
$hover-yellow: darken($yellow, 10);
$red: #FF5216;
$match-fields: #7D83FF;
$match-fields-bg: #DEE0FF;
$hover-match-fields: darken($match-fields-bg, 2);
$facebook: #365899;
$hover-red: darken($red, 10);
$light-blue: #85D7FF;

$off-white: #F8FAFA;
$lightest-grey: #F1F1F1;
$hover-lightest-grey: #E6E6E6;
$hover-off-white: darken($off-white, 5);
$light-grey: #D8D8D8; 
$dark-grey: #A3A3A3;
$darkest-grey: #818181;
$black: #333333;
$hover-black: #6C6C6C;

div{
    box-sizing: border-box;
}

body{
    background: $lightest-grey;
}

//Fonts

h1, h2, h3, h4, h5, h6, a, p, div, input, select, option, textarea, button, table, td, th, thead, tbody, label{
    color: $black;
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

h1{
    font-size: 30px;
    font-weight: 700;
}

h2{
    font-size: 20px;
    font-weight: 700;
}

h3{
    font-size: 16px;
    font-weight: 700;
}

span{
    font-weight: inherit;
    font-size: inherit;
    color: inherit;
}

a, div {
    text-decoration: none;
    outline: none;
}

strong{
    font-weight: 700;
}

table{
    font-size: 14px;
}

thead{
    font-size: 14px; 
    font-weight: 400
}

.extra-small{
    font-size: 12px;
}

.white{
    color: #fff;
}

.blue{
    color: $blue;
    transition: color 300ms ease;

    &:hover{
        color: $hover-blue;
    }
}

.green{
    color: $green;
}

.yellow{
    color: $yellow;
}

.red{
    color: $red;
}

.light-blue{
    color: $light-blue;
}

.black{
    color: $black;
}

.grey{
    color: $darkest-grey;
}

.facebook{
    color: $facebook;
}

.inactive{
    color: $dark-grey;
}

//Background Colors

.bg-lightest-grey{
    background-color: $lightest-grey !important;
    transition: background-color 300ms ease;

    &:hover{
        background-color: $hover-lightest-grey !important;
    }
}

//Buttons

.btn, button{
    padding: 10px 20px;
    transition: all 300ms ease;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 3px;
    color: $black;
    background-color: $lightest-grey;
    display: inline-flex;
    justify-content: center;
    align-items: center;

    &:hover{
        background-color: $hover-lightest-grey;
    }

    &.icon-btn{
        svg{
            width: 19px;
            height: 19px;
        }

        span{
            margin-left: 10px;
            color: inherit;
        }
    }

    &.btn-primary{
        color: #fff;
        background-color: $blue;
    
        &:hover{
            background-color: $hover-blue;
        }
    }

    &.btn-inactive{
        color: $dark-grey;
        background-color: $lightest-grey;
        cursor: not-allowed;
    
        &:hover{
            background-color: $lightest-grey;
        }
    }
    
    &.btn-white{
        color: $black;
        background-color: #fff;
    
        &:hover{
            background-color: $off-white;
        }
    }
    
    &.btn-cancel{
        color: $darkest-grey;
        background-color: #fff;
    
        &:hover{
            background-color: $off-white;
        }
    }
    
    &.btn-green{
        color: #fff;
        font-weight: 700;
        background-color: $green;
    
        &:hover{
            background-color: $hover-green;
        }
    }
    
    &.btn-red{
        color: #fff;
        background-color: $red;
    
        &:hover{
            background-color: $hover-red;
        }
    }
    
    &.btn-yellow{
        color: #fff;
        background-color: $yellow;
    
        &:hover{
            background-color: $hover-yellow;
        }
    }

    //Material UI Button Overrides

    &.text-btn{
        padding: 0 !important;
        background: transparent !important;
    }

    span{
        text-transform: none;
        font-size: 16px;
    }
}

.segment-btn{
    display: flex;
    align-items: center;
    
    .btn, button{
        margin: 0;
        border-radius: 0;
        border-left: 1px solid $light-grey;

        &.active{
            background-color: $blue;
            color: #fff;
            border-color: $blue;

            &:hover{
                background-color: $blue;
            }
        }

        &+.active{
            border-color: $lightest-grey;
        }

        &:first-of-type{
            border-top-left-radius: 3px;
            border-bottom-left-radius: 3px;
            border: none;
        }

        &:last-of-type{
            border-top-right-radius: 3px;
            border-bottom-right-radius: 3px;
        }
    }
}

.btn-group{
    display: flex;
    align-items: center;

    .btn, button, a{
        margin:0 8px;

        &:first-of-type{
            margin-left: 0;
        }

        &:last-of-type{
            margin-right: 0;
        }
    }
}

//Labels

label{
    font-size: 16px;
    font-weight: 700;
    display: block;
    margin-bottom: 10px;
}

.help-label{
    display: flex;
    align-items: flex-start;
    margin-bottom: 10px;

    label{
        margin-bottom: 0;
    }
    
    img{
        width: 14px;
        height: 14px;
        margin-left: 7px;
    }
}

.match-field-label{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    .match-field{
        cursor: pointer;
        background: $match-fields-bg;
        border-radius: 3px;
        transition: all 300ms ease;
        height: 20px;
        width: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        &:hover{
            background: $hover-match-fields;
        }

        svg, img{
            width: 80%;
            cursor: pointer;
        }
    }
}

//Inputs

$input-max-width: 300px;
$input-height: 44px;

input{
    height: $input-height;
    border-radius: 3px;
    background-color: $lightest-grey;
    border: 0;
    padding: 10px 20px;
    width: 100%;
    outline: none;
    transition: all 300ms ease;
    box-sizing: border-box;

    &:hover, &:active, &:focus{
        background-color: $hover-lightest-grey; 
    }

    &::placeholder, &:-ms-input-placeholder, &::-ms-input-placeholder { 
        color: $darkest-grey;
        opacity: 1; 
    }

    &.outline-input{
        background-color: transparent;
        border: 1px solid $dark-grey;

        &:hover, &:active, &:focus{
            border-color: $darkest-grey;
        }
    }
}

.input-wrapper{
    position: relative;
    width: 100%;
    max-width: $input-max-width;

    &.success{
        .input-message{
            color: $green;
            visibility: visible;
            opacity: 1;
            transform: translateY(0);
        }
    }

    &.error{
        input{
            border: 1px solid $red;

            &:focus, &:active{
                border: none;
            }

            &.outline-input:focus, &.outline-input:active{
                border: 1px solid $darkest-grey;
            }
        }

        .input-message{
            color: $red;
            visibility: visible;
            opacity: 1;
            transform: translateY(0);
        }
    }
}

.input-message{
    position: absolute;
    left: 0;
    bottom: -20px;
    display: flex;
    align-items: center;
    transform: translateY(-5px);
    transform-origin: left;
    visibility: hidden;
    opacity: 0;
    transition: all 300ms ease;

    span{
        font-size: 13px;
        margin-left: 5px;
        color: inherit;
        font-weight: inherit;
    }

    svg, img{
        width: 14px;
        height: 14px;
    }
}

.input-btn{
    display: flex;
    align-items: center;

    &.match-field{
        img{
            width: 24px;
            height: 24px;
        }
    }

    &.search{
        div, a, span{
            background-color: $lightest-grey;
            color: $darkest-grey;

            svg, img{
                width: 21px;
                height: 21px;
            }
        }
    }

    input{
        border-radius: 0;
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
    }

    div, a, span{
        height: $input-height;
        width: $input-height + 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $off-white;
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition: all 300ms ease;

        &:hover{
            background-color: darken($off-white, 2)
        }

        svg, img{
            width: 19px;
            height: 19px;
        }
    }
}

.input-counter{
    display: flex;
    align-items: center;
    justify-content: flex-start;

    input{
        padding-right: 0;
        border-radius: 0;
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
    }

    .char-counter{
        display: flex;
        align-items: center;
        font-size: 12px;
        color: $darkest-grey;
        background-color: $lightest-grey;
        height: $input-height;
        padding: 0 10px;
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
        transition: all 300ms ease;

        span{
            font-size: inherit;
            color: inherit;
        }
    }
}

// Edit Info Input

input.edit-info{
    height: 24px;
    padding: 0;
    background-color: transparent;
    min-width: unset;
    max-width: unset;
    width: unset;
    border-bottom: 1px solid $blue;
    border-radius: 0;
    transition: none;
    text-align: center;
}

//Input Groups

.input-group{
    width: 100%;
    display: flex;
    align-items: flex-end;

    &.min-max{
        .input-wrapper{
            padding: 0;

            &.error{
                &:first-of-type{
                    input{
                        border-top-left-radius: 3px;
                        border-bottom-left-radius: 3px;
                        border-right-color: $red;
                    }
                }
            }
    
            &:last-of-type{
                border-right: none;

                input{
                    border-top-right-radius: 3px;
                    border-bottom-right-radius: 3px;
                }
            }

            &:first-of-type{
                input{
                    border-top-left-radius: 3px;
                    border-bottom-left-radius: 3px;
                    border-right: 1px solid $light-grey;
                }
            }

            input{
                border-radius: 0;
            }
        }
    }

    .input-wrapper{
        width: 100%;
        flex: 1;
        padding: 0 10px;
        max-width: unset;

        &:first-of-type{
            padding-left: 0;

            .input-message{
                margin-left: 0;
            }
        }

        &:last-of-type{
            padding-right: 0;
        }
    }

    .input-message{
        margin-left: 10px;
    }
}

//Textarea

textarea{
    border: 0;
    background: $lightest-grey;
    color: $black;
    padding: 20px;
    width: 100%;
    outline: none !important;
    border-radius: 3px;
    box-sizing: border-box;
    min-height: 120px;
}

.match-field-textarea{
    position: relative;
    display: inline-block;
    width: 100%;

    .match-field{
        position: absolute;
        right: 10px;
        bottom: 10px;
        cursor: pointer;
        background: $match-fields-bg;
        border-radius: 3px;
        transition: all 300ms ease;
        height: 24px;
        width: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        &:hover{
            background: $hover-match-fields;
        }

        svg, img{
            width: 80%;
            cursor: pointer;
        }
    }
}

//Tooltip & Popover

.tippy-tooltip{
    box-shadow: 0px 2px 4px rgba(31, 45, 61, 0.188);
    background: $black;
    padding: 0;
}

.tippy-backdrop{
    display: none;
}

.tippy-content{
    color: #fff;
    font-size: 16px;
    background-color: $black;
    padding: 10px;
    text-align: left;
    margin: -10px;

    > div > span{
        color: #fff;
    }

    & .dropdown-menu{
        display: block;
        margin: -10px;
    }
}

//Top Nav

.top-nav{
    width: 100%;
    height: 74px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px 0 0;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    box-shadow: 0px 2px 6px rgba(31, 45, 61, 0.05);

    .logo{
        background-color: $blue;
        height: 74px;
        width: 90px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .top-nav-right{
        display: flex;
        align-items: center;
    }

    .notifications{
        margin: 0 40px;
        cursor: pointer;
        
        &:hover svg{
            stroke: $hover-black
        }

        svg{
            transition: all 300ms ease;
        }
    }

    .profile-dropdown{
        .top-avatar{
            width: 32px;
            height: 32px;
            background-image: url('/assets/images/placeholder/profile-img.png');
            background-position: center;
            background-size: cover;
            border-radius: 100%;
            margin-right: 10px;
        }

        .profile-dropdown-label{
            font-size: 16px;
            color: $black;
            text-transform: none;
        }
    }
}

//Side Nav

.side-nav{
    background: #fff;
    height: calc(100vh - 74px);
    position: fixed;
    width: 90px;
    left: 0;
    top: 74px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    box-shadow: 2px 0px 6px rgba(31, 45, 61, 0.05);

    .link{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: column;
        color: $darkest-grey;
        margin-bottom: 40px;

        &:hover{
            color: $hover-blue;
        }

        &.active{
            color: $blue;
            font-weight: 700;
        }

        &.inactive{
            color: $light-grey;
            pointer-events: none;
        }

        span{
            font-size: 14px;
            color: inherit;
            font-weight: inherit;
            margin-top: 8px;
            transition: all 300ms ease;
        }

        svg{
            transition: all 300ms ease;
        }
    }
    
    a:first-child .link {
        margin-top: 30px;
    }

    a:last-child .link {
        margin-bottom: 0;
    }
}

//Page Content

.page-content{
    position: relative;
    margin: 74px 0 0 90px;
    padding: 40px;
    background-color: $lightest-grey;
    width: calc(100vw - 90px);
    height: calc(100vh - 74px);
    z-index: 1;

    &.constrain{
        max-width: 2000px;
    }
}

//Panel

.panel{
    background-color: #fff;
    box-shadow: 0px 2px 4px rgba(31, 45, 61, 0.06);
    border-radius: 3px;
    padding: 20px;
}

// Columns

.col {
    flex: 1;
    padding-right: 15px;

    &:last-child{
        padding-right: 0;
    }

    .panel{
        margin-bottom: 15px;

        &:last-child{
            margin-right: 0;
        }
    }
}

//Dropdowns

.dropdown{
    position: relative;

    &.open{
        .carret{
            transform: rotate(180deg);
        }
    }

    &.inactive{
        .dropdown-trigger{
            color: $dark-grey;
        }
    }

    .dropdown-trigger{
        cursor: pointer;
        display: flex;
        align-items: center;
        text-align: left;

        span{
            color: inherit;
        }

        svg:first-child{
            width: 18px;
            height: 18px;
            margin-right: 10px;
        }

        svg:last-child{
            width: unset;
            height: unset;
            margin-right: unset;
        }
    }
}

.carret{
    transform-origin: center;
    transition: all 300ms ease;
    margin:0 0 0 10px;
}

.dropdown-menu{
    display: none;
    max-height: 420px;
    overflow-y: auto;
    
    .dropdown-content{
        background-color: $off-white;
    }
}

.dropdown-item{
    padding: 20px 20px 19px;
    border-bottom: 1px solid $light-grey;
    background-color: $off-white;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    transition: all 300ms ease;

    &:last-child{
        border: none;
        padding-bottom: 20px;
    }

    &:hover{
        background-color: darken($off-white, 5);
    }

    span{
        margin-right: 30px;
    }

    svg:first-child{
        margin-right: 15px;
    }
}

//Match Field Tooltip

.mf-trigger{
    padding: 20px 20px 19px;
    border-bottom: 1px solid $light-grey;
    transition: all 300ms ease;

    &:first-child{
        padding-top: 20px;
    }

    &:last-child{
        border: none;
        padding-bottom: 20px;
    }

    &:hover{
        background-color: darken($off-white, 5);
    }

    > div{
        img, svg{
            width: 20px;
            height: 20px;
        }    

        span{
            margin-left: 15px;
        }
    }

    .chevron{
        margin-left: 30px;
        width: 20px;
        height: 20px;
    }
}

.mf-sub-menu{
    display: none;
}

.sub-menu-heading{
    display: flex;
    align-items: center;
    width: 100%;
    padding: 20px 10px;
    cursor: pointer;
    box-sizing: border-box;
    background: $lightest-grey;
    position: sticky;
    top: 0;

    .back-icon{
        background: $off-white;
        margin-right: 10px;
    }
}

.mf-item{
    padding: 20px 20px 19px;
    border-bottom: 1px solid $light-grey;
    transition: all 300ms ease;

    &:first-child{
        padding-top: 20px;
    }

    &:last-child{
        border: none;
        padding-bottom: 20px;
    }

    &:hover{
        background-color: darken($off-white, 5);
    }
    
    span{
        margin-right: 30px;
    }
}

//Callout

.callout {
    padding: 10px;
    border-radius: 3px;
    background-color: $off-white;

    &.primary{
        background: rgba(0, 158, 235, 0.15);
        color: $black;
    }
}

//Checkbox

label.checkbox {
    display: inline-block;
    position: relative;
    padding-right: 31px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    user-select: none;
    margin-top: -6px;
    outline: none;
    
    &:hover input ~ .checkmark {
        background-color: $hover-lightest-grey;
    }

    input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 100%;
        width: 100%;

        &:checked ~ .checkmark{
            background-color: $blue;

            &:after {
                opacity: 1;
                visibility: visible;
                transition-delay: 50ms;
            }
        }
    }

    .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 18px;
        width: 18px;
        background-color: $lightest-grey;
        border: 1px solid $light-grey;
        transition: background-color 300ms ease;
        border-radius: 3px;
        
        &:after {
            content: "";
            position: absolute;
            opacity: 0;
            visibility: hidden;
            transform-origin: center;
            transition: all 300ms ease;
            left: 6px;
            top: 3px;
            width: 4px;
            height: 7px;
            border: solid #fff;
            border-width: 0 2px 2px 0;
            transform: rotate(45deg);
        }
    }
}

//Radio Button

.radio {
    display: block;
    position: relative;
    padding-left: 33px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 0;

    &:hover{
        input ~ .radio-indicator {
            border-color: $darkest-grey;
        }
    }

    input {
        position: absolute;
        opacity: 0;
        cursor: pointer;

        &:checked{
            
            &~ .radio-indicator {
                border-color: $blue;

                &:after {
                    display: block;
                    background: $blue;
                }
            }
        }
    }

    .radio-indicator {
        position: absolute;
        top: 0;
        left: 0;
        height: 18px;
        width: 18px;
        border-radius: 50%;
        border: 2px solid $dark-grey;
        box-sizing: border-box;
        transition: all 300ms ease;
        margin-top: 3px;

        &:after {
            content: "";
            position: absolute;
            top: 3px;
            left: 3px;
            width: 8px;
            height: 8px;
            border-radius: 50%;
            background: $lightest-grey;
            transition: all 300ms ease;
        }
    }
}

//Tables

table{
    width: 100%;
    border-bottom: none !important;

    span{
        font-weight: inherit;
        font-size: inherit;
        color: inherit;
    }

    thead{
        border-bottom: 1px solid $light-grey;

        th{
            font-weight: 700;
        }
    }

    tbody {

        tr{
            transition: all 300ms ease;

            &:last-child td{
                border: none;
            }

            &:hover{
                background: $off-white;
            }
        }

        td{
            padding: 20px 0;
            font-weight: 400;
            vertical-align: middle;
            border-bottom: 1px solid $light-grey;
    
            &.actions svg{
                transition: all 300ms ease;
                margin-left: 15px;
                width: 22px;
                height: 22px;
                cursor: pointer;
    
                &:first-child{
                    margin-left: 0;
                }
    
                &:last-child{
                    margin-right: 5px;
                }
    
                &:hover.blue, &:hover.black, &:hover.grey{
                    stroke: $hover-blue;
                }
            }
        }
    }

    th, td{
        text-align: left;

        &:last-child{
            text-align: right;
            padding-right: 0 !important;
        }
    }
    
    .platform-icons{
        img{
            width: 20px;
            height: 20px;
            margin-left: 10px;
            
            &:first-child{
                margin-left: 0;
            }
        }
    }
}

.table-avatar{
    min-width: 20px;
    min-height: 20px;
    width: 24px;
    height: 24px;
    background-position: center;
    background-size: cover;
    background-image: url('/assets/images/placeholder/profile-img.png');
    border-radius: 100%;
}

.my-agents-table-total-listings{
    display: none;
}

// Toasts

.toast{
    position: fixed;
    bottom: 100px;
    left: 50%;
    transition: all 300ms ease;
    transform: translate(-50%, 10px);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    background: #fff;
    box-shadow: 0px 2px 4px rgba(31, 45, 61, 0.188);
    padding: 10px;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    // width: 90%;
    // max-width: 400px;

    &.undo{
        padding: 0;

        .toast-message{
            padding: 0 20px 0 10px;
        }

        .toast-close{
            display: none;
        }

        .toast-undo{
            display: block;
        }
    }


    &.show{
        transform: translate(-50%, 0);
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .toast-message{
        padding: 0 30px 0 10px;
    }

    .toast-close{
        cursor: pointer;
        transition: all 300ms ease;

        &:hover{
            color: $blue;
        }
    }

    .toast-undo{
        color: $blue;
        cursor: pointer;
        padding: 10px 20px;
        background-color: $off-white;
        transition: all 300ms ease;
        display: none;

        &:hover{
            background-color: $lightest-grey;
        }
    }
}

// Popups

.ReactModal__Content{
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0px 2px 4px rgba(31, 45, 61, 0.188);
    transition: all 300ms ease;
    width: 90%;
    max-width: 500px;
    margin: 0 auto;
    height: auto;
    padding: 20px;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    transform: translateY(-10px);
    top: 100px !important;
    bottom: unset !important;
    max-height: calc(100vh - 140px);
    overflow-y: auto;


    &.ReactModal__Content--after-open{
        opacity: 1;
        pointer-events: auto;
        visibility: visible;
        transform: translateY(0);
    }

    .popup-header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 20px;
    }

    .close-popup{
        cursor: pointer;
    }

    .popup-buttons{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-top: 20px;

        button,a,div{
            margin-right: 10px;
            // width: 100%;
            
            &:last-child{
                margin-right: 0;
            }
        }
    }
}

.popup-overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,.3);
    z-index: 9;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;

    &.show{
        opacity: 1;
        pointer-events: auto;
        visibility: visible;
    }
}

.ReactModal__Overlay{
    z-index: 100;
    background-color: rgba(0,0,0,.3) !important;
    cursor: pointer;
}

.ReactModal__Content{
    cursor: auto;
}

//Ad Status Tags

.ad-status-tag{
    padding: 0 5px;
    font-size: 14px;
    border-radius: 3px;
    color: rgba(0,0,0, .6);
    text-transform: capitalize;

    &.running{
        background: $green;
    }

    &.paused{
        background: $yellow;
    }

    &.pending{
        background: $light-blue;
    }

    &.error{
        background: $red;
    }

    &.ended{
        background: $lightest-grey;
    }
}

//My Profile

.profile-pic{
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background-image: url('/assets/images/placeholder/profile-img.png');
    background-position: center;
    background-size: cover;
    position: relative;
    overflow: hidden;
    margin: 0 auto 20px;

    &:hover{
        .upload-profile-pic{
            opacity: 1;
        }
    }

    .upload-profile-pic{
        transition: all 300ms ease;
        content: "";
        cursor: pointer;
        position: relative;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,.6);
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        opacity: 0;
    }
}

.profile-info{
    li{
        margin-bottom: 20px;

        &:last-child{
            margin-bottom: 0;
        }

        .edit-profile-info{
            transition: all 300ms ease;

            &:hover{
                color: $blue;
            }
        }
    }
}

/////// PAGE SPECIFIC

//Listings

.listings-container{
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr) ) ;

    .listing{
        background-color: #fff;
        box-shadow: 0px 2px 4px rgba(31, 45, 61, 0.06);
        border-radius: 3px;
        overflow: hidden;
        transition: all 300ms ease;
        border: 1px solid $lightest-grey;
        cursor: pointer;

        &.selected{
            border: 1px solid $blue;
            box-shadow: 0px 2px 4px rgba(31, 45, 61, 0.188);

            .listing-select{
                background-color: $blue;
                
                img,svg {
                    opacity: 1;
                    transform: rotate(0);
                }
            }
        }

        &:hover{
            box-shadow: 0px 2px 4px rgba(31, 45, 61, 0.188);
        }
        
        .listing-img{
            height: 160px;
            background-position: center;
            background-size: cover;
            border-top-left-radius: 3px;
            border-top-right-radius: 3px;
            position: relative;
        }

        .listing-select{
            position: absolute;
            top: 10px;
            right: 10px;
            border-radius: 50%;
            transition: all 300ms ease;
            background-color: rgba(255,255,255, .5);
            border: 1px solid $dark-grey;
            width: 18px;
            height: 18px;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;

            &:hover{
                background-color: rgba(255,255,255, 1);
            }

            img, svg{
                opacity: 0;
                transition: all 300ms ease;
                transition-delay: 200ms;
                transform: rotate(-45deg);
                transform-origin: center;
                width: 12px;
                height: 12px;
            }
        }

        .listing-info{
            padding: 0 20px;
        }

        .listing-details{
            padding: 0 20px;

            .dot{
                width: 3px;
                height: 3px;
                background: $darkest-grey;
                margin-right: 10px;
            }

            span{
                margin-right: 10px;
                font-size: 14px;

                &:last-child{
                    margin-right: 0;
                }
            }
        }

        .listing-actions > div{
            padding: 5px 0;
            background-color: $off-white;
            transition: all 300ms ease;
            width: 100%;
            border-left: 1px solid $light-grey;

            &:first-child{
                border-left: none;
            }

            &:hover{
                background-color: $hover-off-white;
            }
        }
    }
}

.filter-listings{
    position: relative;

    &.open{
        > .carret{
            transform: rotate(180deg);
        }
    }

    .filters{
        position: absolute;
        left: 0;
        top: calc(100% + 5px);
        background: $off-white;
        padding: 20px;
        box-shadow: 0px 2px 4px rgba(31, 45, 61, 0.188);
        min-width: 400px;
        transition: all 300ms ease;
        visibility: hidden;
        pointer-events: none;
        opacity: 0;
        transform: translateY(-10px);

        &.show{
            visibility: visible;
            pointer-events: auto;
            opacity: 1;
            transform: translateY(0);
        }
    }
}

//Listing Preview

.side-preview{
    width: 400px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    overflow-y: auto;
    padding: 0;
    background: #fff;
    z-index: 3;
    box-shadow: -2px 0px 10px rgba(31, 45, 61, 0.3);

    .listing-preview-img{
        height: 190px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .close-preview{
        position: absolute;
        right: 10px;
        top: 10px;
        width: 35px;
        height: 35px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        background-color: rgba(255,255,255, .6);
        transition: all 300ms ease;

        &:hover{
            background-color: rgba(255,255,255, 1);
        }
    }

    .preview-info{
        padding: 0 20px;
    }

    .listing-details, .ad-details{

        .dot{
            width: 3px;
            height: 3px;
            background: $darkest-grey;
            margin-right: 10px;
        }

        span{
            margin-right: 10px;
            font-size: 14px;

            &:last-child{
                margin-right: 0;
            }
        }
    }

    .ad-details{

        .preview-platforms{
            svg{
                margin-left: 5px;

                &:first-child{
                    margin-left: 0;
                }
            }
        }

        .dot{
            margin: 0 12px;
        }
    }

    .preview-mls, .next-step{
        font-size: 14px;
    }

    .preview-header{
        border-bottom: 1px solid $black;
        padding-bottom: 5px;
        margin-bottom: 20px;
    }

    .preview-actions{
        svg{
            cursor: pointer;
            transition: all 300ms ease;

            &:hover{
                stroke: $hover-blue;
            }
        }
    }

    .active-auto-ads-list, .active-ads-list{
        li{
            margin-bottom: 30px;
            padding-bottom: 30px;
            border-bottom: 1px solid $light-grey;

            &:last-child{
                margin-bottom: 0;
                padding-bottom: 0;
                border-bottom: none;
            }
        }
    }
}

.preview-overlay{
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgba(0,0,0, .3);
    z-index: 2;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

//Templates

.template-detail{
    img, svg{
        width: 18px;
        height: 18px;
        min-width: 18px;
        min-height: 18px;
    }
}

.template-left-content{
    flex-basis: auto;

    & > .col{
        min-width: 350px;
    }
}

@media (max-width: 1300px){
    .template-left-content > .col:first-child {
        padding-right: 0;
    }
}

// Manage Users

.permissions-list{

    li{
        padding: 20px 0;
        border-bottom: 1px solid $light-grey;

        &:last-child{
            border: none;
        }
    }

    img.pointer{
        width: 18px;
        height: 18px;
    }
}

// New Ads

.step-back{
    display: flex;
    align-items: center;
    justify-content: center;
    background: $lightest-grey;
    cursor: pointer;
    transition: all 300ms ease;
    margin-right: 15px;
    border-radius: 3px;

    &:hover{
        background-color: $hover-lightest-grey;
    }

    svg, img{
        width: 24px;
        height: 24px;
    }
}

//New Ad Demographics

.age-separator{
    width: 15px;
    height: 2px;
    margin: 0 10px;
    background: $black;
}

// New Ad Budget

.start-stop-picker{
    width:25%;
    min-width: 250px;

    .picker-label{
        width: 90px;
        text-align: right;
    }
}

//New Ad Content

.format-wrapper{
    // display: grid;
    // grid-gap: 15px;
    // grid-template-columns: repeat(auto-fill, minmax(320px, 1fr) ) ;
    display: flex;
    // align-items: flex-start;

    .format{
        transition: all 300ms ease;
        border: 1px solid $darkest-grey;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        flex-direction: column;
        position: relative;
        border-radius: 3px;
        flex: 1;
        margin-left: 10px;
        padding: 30px 10px 25px;
        cursor: pointer;

        &:first-child{
            margin-left: 0;
        }

        &:hover{
            border-color: $light-blue; 
        }

        &.active{
            border-color: $blue;
        }

        &.inactive{
            pointer-events: none;

            p, h3{
                color: $light-grey;
            }
        }

        .format-select{
            position: absolute;
            left: 10px;
            top: 10px;
        }

        img{
            margin-bottom: 15px;
            width: 70px;
            height: 50px;
        }

        p{
            margin-top: 5px;
        }
    }
}

// FB Ad Preview

.fb-ad-preview-wrapper{
    position: sticky;
    top: 100px;
}

.fb-ad-preview{
    width: 375px;
    margin: 20px auto 0;
     
    .preview-avatar{
        background-size: cover;
        background-position: center;
        background-image: url('/assets/images/placeholder/profile-img.png');
        width: 40px;
        height: 40px;
        margin-right: 15px;
        border-radius: 100%;
    }

    .profile-name{
        font-size: 14px;
        margin-bottom: -3px;
        font-weight: 700;
    }

    .sponsored p{
        font-size: 12px;
        margin-right: 10px;
    }

    .preview-text{
        font-size: 14px;
        margin-top: 20px;
        line-height: 20px;
    }

    .preview-img{
        height: 230px;
        background-color: $lightest-grey;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin: 10px 0 0;

        img{
            width: 32px;
            height: 32px;
        }

        .preview-img-text{
            margin-top: 15px;
        }
    }

    .preview-bottom{
        display: flex;
        align-items: center;
        background: $off-white;
        padding: 10px;
    }

    .preview-headline{
        font-size: 16px;
        margin: 5px 0;
        font-weight: 700;
    }

    .preview-description{
        font-size: 12px;
        line-height: 18px;
    }

    .preview-URL{
        font-size: 14px;
        color: $darkest-grey;
        text-transform: uppercase;
    }

    .preview-cta{
        font-size: 12px;
        text-transform: uppercase;
        background-color: transparent;
        border: 1px solid $black;
        padding: 5px 10px;
        
        &.learn-more{
            width: 126px;
        }
    }

    .share-btns{
        border-top: 1px solid $light-grey;
    }
}

// Carousel Cards

.card-content{
    padding:20px;
    border: 1px solid $light-grey;
    margin-top: 13px;
    border-radius: 3px;

    .card-img{
        width: 100%;
        height: calc(100vw * .5);
        min-height: 200px;
        max-height: 300px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 3px;
    }

    .listing-img-grid{
        display: grid;
        grid-gap: 15px;
        grid-template-columns: repeat(auto-fill, minmax(120px, 1fr) ) ;
        margin-top: 10px;
        max-height: 300px;
        overflow-y: auto;
        padding-bottom: 20px;

        .card-thumbnail{
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            border-radius: 3px;
            height: 70px;
            cursor: pointer;
            transition: 300ms ease;
            position: relative;

            &.selected{
                &:before{
                    z-index:1;
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    background-color: rgba(0,0,0, .5);
                    content: "Selected";
                    color: #fff;
                    border-radius: 3px;
                    font-size: 16px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    text-align: center;
                }
            }

            &:hover{
                box-shadow: 0px 2px 4px rgba(31, 45, 61, 0.188);
            }
        }
    }
}

.card-btn{
    position: relative;

    &.active{
        .card-carret{
            display: block;
        }
    }

    .card-carret{
        border: 8px solid transparent;
        border-bottom-color: $light-grey;
        bottom: -13px;
        height: 0;
        left: 16px;
        margin: 0 auto;
        position: absolute;
        width: 0;
        z-index: 2;
        display: none;
    }
}

.preview-ations{
    font-size: 14px;
    margin: 10px -20px -20px;

    & > div{
        padding: 10px 0;
        cursor: pointer;
        background: $lightest-grey;
        transition: all 300ms ease;

        &:hover{
            background: $hover-lightest-grey;
        }
    }

    & > div:first-child{
        border-right: 1px solid $dark-grey;
    }
}

//Misc

.status{
    width: 8px;
    height: 8px;
    border-radius: 100%;
    
    &.running{
        background-color: $green;
    }

    &.paused{
        background-color: $yellow;
    }

    &.pending{
        background-color: $light-blue;
    }

    &.error{
        background-color: $red;
    }

    &.ended{
        background-color: $dark-grey;
    }
}

.back-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    background: $off-white;
    transition: all 300ms ease;
    cursor: pointer;
    height: 20px;
    width: 20px;

    img, svg{
        width: 16px;
        height: 16px;
    }
}

//Flex

.flex{
   display: flex; 
}

.inline-flex{
   display: inline-flex; 
}

.flex0{
    flex: 0;
}

.flex1{
    flex: 1;
}

.flex2{
    flex: 2;
}

.ai-center{
    align-items: center;
}

.ai-start{
    align-items: flex-start;
}

.ai-end{
    align-items: flex-end;
}

.jc-center {
    justify-content: center;
}

.jc-end {
    justify-content: flex-end;
}

.jc-start {
    justify-content: flex-start;
}

.jc-between {
    justify-content: space-between;
}

.flex-wrap {
    flex-wrap: wrap;
}

//Widths

.w-0{
    width: 0;
}

.w-5{
    width: 5%;
}

.w-10{
    width: 10%;
}

.w-15{
    width: 15%;
}

.w-20{
    width: 20%;
}

.w-25{
    width: 25%;
}

.w-30{
    width: 30%;
}

.w-35{
    width: 35%;
}

.w-40{
    width: 40%;
}

.w-45{
    width: 45%;
}

.w-50{
    width: 50%;
}

.w-55{
    width: 55%;
}

.w-60{
    width: 60%;
}

.w-65{
    width: 65%;
}

.w-70{
    width: 70%;
}

.w-75{
    width: 75%;
}

.w-80{
    width: 80%;
}

.w-85{
    width: 85%;
}

.w-90{
    width: 90%;
}

.w-95{
    width: 95%;
}

.w-100{
    width: 100%;
    max-width: unset;
}

//Margin & Padding

.p-0 {
    padding: 0px;
}

.p-10 {
    padding: 10px;
}

.p-20 {
    padding: 20px;
}

.p-30 {
    padding: 30px;
}

.p-l-0 {
    padding-left: 0px;
}

.p-l-10 {
    padding-left: 10px;
}

.p-l-20 {
    padding-left: 20px;
}

.p-r-0 {
    padding-right: 0px;
}

.p-r-10 {
    padding-right: 10px;
}

.p-r-20 {
    padding-right: 20px;
}

.p-r-30 {
    padding-right: 30px;
}

.p-r-40 {
    padding-right: 40px;
}

.p-t-0 {
    padding-top: 0px;
}

.p-t-10 {
    padding-top: 10px;
}

.p-t-20 {
    padding-top: 20px;
}

.p-t-25 {
    padding-top: 25px;
}

.p-t-30 {
    padding-top: 30px;
}

.p-t-40 {
    padding-top: 40px;
}

.p-b-0 {
    padding-bottom: 0px;
}

.p-b-10 {
    padding-bottom: 10px;
}

.p-b-20 {
    padding-bottom: 20px;
}

.p-b-30 {
    padding-bottom: 30px;
}

.p-b-40 {
    padding-bottom: 40px;
}

.m-0 {
    margin: 0px;
}

.m-l-5 {
    margin-left: 5px;
}

.m-l-10 {
    margin-left: 10px;
}

.m-l-15 {
    margin-left: 15px;
}

.m-l-20 {
    margin-left: 20px;
}

.m-l-30 {
    margin-left: 30px;
}

.m-l-40 {
    margin-left: 40px;
}

.m-r-5 {
    margin-right: 5px;
}

.m-r-10 {
    margin-right: 10px;
}

.m-r-15 {
    margin-right: 15px;
}

.m-r-20 {
    margin-right: 20px;
}

.m-r-30 {
    margin-right: 30px;
}

.m-r-40 {
    margin-right: 40px;
}

.m-t-0 {
  margin-top: 0;
}

.m-t-5 {
    margin-top: 5px;
}

.m-t-0 {
    margin-top: 0px;
}

.m-t-10 {
    margin-top: 10px;
}

.m-t-15 {
    margin-top: 15px;
}

.m-t-20 {
    margin-top: 20px;
}

.m-t-25 {
    margin-top: 20px;
}

.m-t-30 {
    margin-top: 30px;
}

.m-t-40 {
    margin-top: 40px;
}

.m-t-50 {
    margin-top: 50px;
}

.m-t-60 {
    margin-top: 60px;
}

.m-b-0 {
    margin-bottom: 0px;
}

.m-b-5 {
    margin-bottom: 5px;
}

.m-b-10 {
    margin-bottom: 10px;
}

.m-b-15 {
    margin-bottom: 15px;
}

.m-b-20 {
    margin-bottom: 20px;
}

.m-b-25 {
    margin-bottom: 25px;
}

.m-b-30 {
    margin-bottom: 30px;
}

.m-b-40 {
    margin-bottom: 40px;
}

.m-b-50 {
    margin-bottom: 50px;
}

.m-b-60 {
    margin-bottom: 60px;
}

//Utilities

.pointer{
    cursor: pointer;
}

.gap-30{
    height: 30px;
    width: 100%;
}

.hide{
    display: none !important;
}

.show{
    display: block;
    visibility: visible;
}

.ta-center{
    text-align: center !important;
}

.ta-left{
    text-align: left !important;
}

.ta-right{
    text-align: right !important;
}

.truncate{
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}