html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*:focus {
  outline: none !important; }

div {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  background: #F1F1F1; }

h1, h2, h3, h4, h5, h6, a, p, div, input, select, option, textarea, button, table, td, th, thead, tbody, label {
  color: #333333;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px; }

h1 {
  font-size: 30px;
  font-weight: 700; }

h2 {
  font-size: 20px;
  font-weight: 700; }

h3 {
  font-size: 16px;
  font-weight: 700; }

span {
  font-weight: inherit;
  font-size: inherit;
  color: inherit; }

a, div {
  text-decoration: none;
  outline: none; }

strong {
  font-weight: 700; }

table {
  font-size: 14px; }

thead {
  font-size: 14px;
  font-weight: 400; }

.extra-small {
  font-size: 12px; }

.white {
  color: #fff; }

.blue {
  color: #009EEB;
  -webkit-transition: color 300ms ease;
  transition: color 300ms ease; }
  .blue:hover {
    color: #007DBA; }

.green {
  color: #13CE66; }

.yellow {
  color: #FFC82C; }

.red {
  color: #FF5216; }

.light-blue {
  color: #85D7FF; }

.black {
  color: #333333; }

.grey {
  color: #818181; }

.facebook {
  color: #365899; }

.inactive {
  color: #A3A3A3; }

.bg-lightest-grey {
  background-color: #F1F1F1 !important;
  -webkit-transition: background-color 300ms ease;
  transition: background-color 300ms ease; }
  .bg-lightest-grey:hover {
    background-color: #E6E6E6 !important; }

.btn, button {
  padding: 10px 20px;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  cursor: pointer;
  border: none;
  outline: none;
  border-radius: 3px;
  color: #333333;
  background-color: #F1F1F1;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .btn:hover, button:hover {
    background-color: #E6E6E6; }
  .btn.icon-btn svg, button.icon-btn svg {
    width: 19px;
    height: 19px; }
  .btn.icon-btn span, button.icon-btn span {
    margin-left: 10px;
    color: inherit; }
  .btn.btn-primary, button.btn-primary {
    color: #fff;
    background-color: #009EEB; }
    .btn.btn-primary:hover, button.btn-primary:hover {
      background-color: #007DBA; }
  .btn.btn-inactive, button.btn-inactive {
    color: #A3A3A3;
    background-color: #F1F1F1;
    cursor: not-allowed; }
    .btn.btn-inactive:hover, button.btn-inactive:hover {
      background-color: #F1F1F1; }
  .btn.btn-white, button.btn-white {
    color: #333333;
    background-color: #fff; }
    .btn.btn-white:hover, button.btn-white:hover {
      background-color: #F8FAFA; }
  .btn.btn-cancel, button.btn-cancel {
    color: #818181;
    background-color: #fff; }
    .btn.btn-cancel:hover, button.btn-cancel:hover {
      background-color: #F8FAFA; }
  .btn.btn-green, button.btn-green {
    color: #fff;
    font-weight: 700;
    background-color: #13CE66; }
    .btn.btn-green:hover, button.btn-green:hover {
      background-color: #0f9f4f; }
  .btn.btn-red, button.btn-red {
    color: #fff;
    background-color: #FF5216; }
    .btn.btn-red:hover, button.btn-red:hover {
      background-color: #e23a00; }
  .btn.btn-yellow, button.btn-yellow {
    color: #fff;
    background-color: #FFC82C; }
    .btn.btn-yellow:hover, button.btn-yellow:hover {
      background-color: #f8b700; }
  .btn.text-btn, button.text-btn {
    padding: 0 !important;
    background: transparent !important; }
  .btn span, button span {
    text-transform: none;
    font-size: 16px; }

.segment-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .segment-btn .btn, .segment-btn button {
    margin: 0;
    border-radius: 0;
    border-left: 1px solid #D8D8D8; }
    .segment-btn .btn.active, .segment-btn button.active {
      background-color: #009EEB;
      color: #fff;
      border-color: #009EEB; }
      .segment-btn .btn.active:hover, .segment-btn button.active:hover {
        background-color: #009EEB; }
    .segment-btn .btn + .active, .segment-btn button + .active {
      border-color: #F1F1F1; }
    .segment-btn .btn:first-of-type, .segment-btn button:first-of-type {
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px;
      border: none; }
    .segment-btn .btn:last-of-type, .segment-btn button:last-of-type {
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px; }

.btn-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .btn-group .btn, .btn-group button, .btn-group a {
    margin: 0 8px; }
    .btn-group .btn:first-of-type, .btn-group button:first-of-type, .btn-group a:first-of-type {
      margin-left: 0; }
    .btn-group .btn:last-of-type, .btn-group button:last-of-type, .btn-group a:last-of-type {
      margin-right: 0; }

label {
  font-size: 16px;
  font-weight: 700;
  display: block;
  margin-bottom: 10px; }

.help-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 10px; }
  .help-label label {
    margin-bottom: 0; }
  .help-label img {
    width: 14px;
    height: 14px;
    margin-left: 7px; }

.match-field-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .match-field-label .match-field {
    cursor: pointer;
    background: #DEE0FF;
    border-radius: 3px;
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
    height: 20px;
    width: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    cursor: pointer; }
    .match-field-label .match-field:hover {
      background: #d4d6ff; }
    .match-field-label .match-field svg, .match-field-label .match-field img {
      width: 80%;
      cursor: pointer; }

input {
  height: 44px;
  border-radius: 3px;
  background-color: #F1F1F1;
  border: 0;
  padding: 10px 20px;
  width: 100%;
  outline: none;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  input:hover, input:active, input:focus {
    background-color: #E6E6E6; }
  input:-ms-input-placeholder, input:-ms-input-placeholder, input::-ms-input-placeholder {
    color: #818181;
    opacity: 1; }
  input::-ms-input-placeholder, input:-ms-input-placeholder, input::-ms-input-placeholder {
    color: #818181;
    opacity: 1; }
  input::placeholder, input:-ms-input-placeholder, input::-ms-input-placeholder {
    color: #818181;
    opacity: 1; }
  input.outline-input {
    background-color: transparent;
    border: 1px solid #A3A3A3; }
    input.outline-input:hover, input.outline-input:active, input.outline-input:focus {
      border-color: #818181; }

.input-wrapper {
  position: relative;
  width: 100%;
  max-width: 300px; }
  .input-wrapper.success .input-message {
    color: #13CE66;
    visibility: visible;
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0); }
  .input-wrapper.error input {
    border: 1px solid #FF5216; }
    .input-wrapper.error input:focus, .input-wrapper.error input:active {
      border: none; }
    .input-wrapper.error input.outline-input:focus, .input-wrapper.error input.outline-input:active {
      border: 1px solid #818181; }
  .input-wrapper.error .input-message {
    color: #FF5216;
    visibility: visible;
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0); }

.input-message {
  position: absolute;
  left: 0;
  bottom: -20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  -webkit-transform-origin: left;
          transform-origin: left;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease; }
  .input-message span {
    font-size: 13px;
    margin-left: 5px;
    color: inherit;
    font-weight: inherit; }
  .input-message svg, .input-message img {
    width: 14px;
    height: 14px; }

.input-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .input-btn.match-field img {
    width: 24px;
    height: 24px; }
  .input-btn.search div, .input-btn.search a, .input-btn.search span {
    background-color: #F1F1F1;
    color: #818181; }
    .input-btn.search div svg, .input-btn.search div img, .input-btn.search a svg, .input-btn.search a img, .input-btn.search span svg, .input-btn.search span img {
      width: 21px;
      height: 21px; }
  .input-btn input {
    border-radius: 0;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px; }
  .input-btn div, .input-btn a, .input-btn span {
    height: 44px;
    width: 54px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: #F8FAFA;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease; }
    .input-btn div:hover, .input-btn a:hover, .input-btn span:hover {
      background-color: #f2f6f6; }
    .input-btn div svg, .input-btn div img, .input-btn a svg, .input-btn a img, .input-btn span svg, .input-btn span img {
      width: 19px;
      height: 19px; }

.input-counter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start; }
  .input-counter input {
    padding-right: 0;
    border-radius: 0;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px; }
  .input-counter .char-counter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 12px;
    color: #818181;
    background-color: #F1F1F1;
    height: 44px;
    padding: 0 10px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease; }
    .input-counter .char-counter span {
      font-size: inherit;
      color: inherit; }

input.edit-info {
  height: 24px;
  padding: 0;
  background-color: transparent;
  min-width: unset;
  max-width: unset;
  width: unset;
  border-bottom: 1px solid #009EEB;
  border-radius: 0;
  -webkit-transition: none;
  transition: none;
  text-align: center; }

.input-group {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end; }
  .input-group.min-max .input-wrapper {
    padding: 0; }
    .input-group.min-max .input-wrapper.error:first-of-type input {
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px;
      border-right-color: #FF5216; }
    .input-group.min-max .input-wrapper:last-of-type {
      border-right: none; }
      .input-group.min-max .input-wrapper:last-of-type input {
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px; }
    .input-group.min-max .input-wrapper:first-of-type input {
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px;
      border-right: 1px solid #D8D8D8; }
    .input-group.min-max .input-wrapper input {
      border-radius: 0; }
  .input-group .input-wrapper {
    width: 100%;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    padding: 0 10px;
    max-width: unset; }
    .input-group .input-wrapper:first-of-type {
      padding-left: 0; }
      .input-group .input-wrapper:first-of-type .input-message {
        margin-left: 0; }
    .input-group .input-wrapper:last-of-type {
      padding-right: 0; }
  .input-group .input-message {
    margin-left: 10px; }

textarea {
  border: 0;
  background: #F1F1F1;
  color: #333333;
  padding: 20px;
  width: 100%;
  outline: none !important;
  border-radius: 3px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-height: 120px; }

.match-field-textarea {
  position: relative;
  display: inline-block;
  width: 100%; }
  .match-field-textarea .match-field {
    position: absolute;
    right: 10px;
    bottom: 10px;
    cursor: pointer;
    background: #DEE0FF;
    border-radius: 3px;
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
    height: 24px;
    width: 24px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    cursor: pointer; }
    .match-field-textarea .match-field:hover {
      background: #d4d6ff; }
    .match-field-textarea .match-field svg, .match-field-textarea .match-field img {
      width: 80%;
      cursor: pointer; }

.tippy-tooltip {
  -webkit-box-shadow: 0px 2px 4px rgba(31, 45, 61, 0.188);
          box-shadow: 0px 2px 4px rgba(31, 45, 61, 0.188);
  background: #333333;
  padding: 0; }

.tippy-backdrop {
  display: none; }

.tippy-content {
  color: #fff;
  font-size: 16px;
  background-color: #333333;
  padding: 10px;
  text-align: left;
  margin: -10px; }
  .tippy-content > div > span {
    color: #fff; }
  .tippy-content .dropdown-menu {
    display: block;
    margin: -10px; }

.top-nav {
  width: 100%;
  height: 74px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 40px 0 0;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  -webkit-box-shadow: 0px 2px 6px rgba(31, 45, 61, 0.05);
          box-shadow: 0px 2px 6px rgba(31, 45, 61, 0.05); }
  .top-nav .logo {
    background-color: #009EEB;
    height: 74px;
    width: 90px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .top-nav .top-nav-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .top-nav .notifications {
    margin: 0 40px;
    cursor: pointer; }
    .top-nav .notifications:hover svg {
      stroke: #6C6C6C; }
    .top-nav .notifications svg {
      -webkit-transition: all 300ms ease;
      transition: all 300ms ease; }
  .top-nav .profile-dropdown .top-avatar {
    width: 32px;
    height: 32px;
    background-image: url("/assets/images/placeholder/profile-img.png");
    background-position: center;
    background-size: cover;
    border-radius: 100%;
    margin-right: 10px; }
  .top-nav .profile-dropdown .profile-dropdown-label {
    font-size: 16px;
    color: #333333;
    text-transform: none; }

.side-nav {
  background: #fff;
  height: calc(100vh - 74px);
  position: fixed;
  width: 90px;
  left: 0;
  top: 74px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 2px 0px 6px rgba(31, 45, 61, 0.05);
          box-shadow: 2px 0px 6px rgba(31, 45, 61, 0.05); }
  .side-nav .link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    color: #818181;
    margin-bottom: 40px; }
    .side-nav .link:hover {
      color: #007DBA; }
    .side-nav .link.active {
      color: #009EEB;
      font-weight: 700; }
    .side-nav .link.inactive {
      color: #D8D8D8;
      pointer-events: none; }
    .side-nav .link span {
      font-size: 14px;
      color: inherit;
      font-weight: inherit;
      margin-top: 8px;
      -webkit-transition: all 300ms ease;
      transition: all 300ms ease; }
    .side-nav .link svg {
      -webkit-transition: all 300ms ease;
      transition: all 300ms ease; }
  .side-nav a:first-child .link {
    margin-top: 30px; }
  .side-nav a:last-child .link {
    margin-bottom: 0; }

.page-content {
  position: relative;
  margin: 74px 0 0 90px;
  padding: 40px;
  background-color: #F1F1F1;
  width: calc(100vw - 90px);
  height: calc(100vh - 74px);
  z-index: 1; }
  .page-content.constrain {
    max-width: 2000px; }

.panel {
  background-color: #fff;
  -webkit-box-shadow: 0px 2px 4px rgba(31, 45, 61, 0.06);
          box-shadow: 0px 2px 4px rgba(31, 45, 61, 0.06);
  border-radius: 3px;
  padding: 20px; }

.col {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding-right: 15px; }
  .col:last-child {
    padding-right: 0; }
  .col .panel {
    margin-bottom: 15px; }
    .col .panel:last-child {
      margin-right: 0; }

.dropdown {
  position: relative; }
  .dropdown.open .carret {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg); }
  .dropdown.inactive .dropdown-trigger {
    color: #A3A3A3; }
  .dropdown .dropdown-trigger {
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: left; }
    .dropdown .dropdown-trigger span {
      color: inherit; }
    .dropdown .dropdown-trigger svg:first-child {
      width: 18px;
      height: 18px;
      margin-right: 10px; }
    .dropdown .dropdown-trigger svg:last-child {
      width: unset;
      height: unset;
      margin-right: unset; }

.carret {
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  margin: 0 0 0 10px; }

.dropdown-menu {
  display: none;
  max-height: 420px;
  overflow-y: auto; }
  .dropdown-menu .dropdown-content {
    background-color: #F8FAFA; }

.dropdown-item {
  padding: 20px 20px 19px;
  border-bottom: 1px solid #D8D8D8;
  background-color: #F8FAFA;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease; }
  .dropdown-item:last-child {
    border: none;
    padding-bottom: 20px; }
  .dropdown-item:hover {
    background-color: #e9efef; }
  .dropdown-item span {
    margin-right: 30px; }
  .dropdown-item svg:first-child {
    margin-right: 15px; }

.mf-trigger {
  padding: 20px 20px 19px;
  border-bottom: 1px solid #D8D8D8;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease; }
  .mf-trigger:first-child {
    padding-top: 20px; }
  .mf-trigger:last-child {
    border: none;
    padding-bottom: 20px; }
  .mf-trigger:hover {
    background-color: #e9efef; }
  .mf-trigger > div img, .mf-trigger > div svg {
    width: 20px;
    height: 20px; }
  .mf-trigger > div span {
    margin-left: 15px; }
  .mf-trigger .chevron {
    margin-left: 30px;
    width: 20px;
    height: 20px; }

.mf-sub-menu {
  display: none; }

.sub-menu-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 20px 10px;
  cursor: pointer;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #F1F1F1;
  position: -webkit-sticky;
  position: sticky;
  top: 0; }
  .sub-menu-heading .back-icon {
    background: #F8FAFA;
    margin-right: 10px; }

.mf-item {
  padding: 20px 20px 19px;
  border-bottom: 1px solid #D8D8D8;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease; }
  .mf-item:first-child {
    padding-top: 20px; }
  .mf-item:last-child {
    border: none;
    padding-bottom: 20px; }
  .mf-item:hover {
    background-color: #e9efef; }
  .mf-item span {
    margin-right: 30px; }

.callout {
  padding: 10px;
  border-radius: 3px;
  background-color: #F8FAFA; }
  .callout.primary {
    background: rgba(0, 158, 235, 0.15);
    color: #333333; }

label.checkbox {
  display: inline-block;
  position: relative;
  padding-right: 31px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin-top: -6px;
  outline: none; }
  label.checkbox:hover input ~ .checkmark {
    background-color: #E6E6E6; }
  label.checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 100%;
    width: 100%; }
    label.checkbox input:checked ~ .checkmark {
      background-color: #009EEB; }
      label.checkbox input:checked ~ .checkmark:after {
        opacity: 1;
        visibility: visible;
        -webkit-transition-delay: 50ms;
                transition-delay: 50ms; }
  label.checkbox .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 18px;
    width: 18px;
    background-color: #F1F1F1;
    border: 1px solid #D8D8D8;
    -webkit-transition: background-color 300ms ease;
    transition: background-color 300ms ease;
    border-radius: 3px; }
    label.checkbox .checkmark:after {
      content: "";
      position: absolute;
      opacity: 0;
      visibility: hidden;
      -webkit-transform-origin: center;
              transform-origin: center;
      -webkit-transition: all 300ms ease;
      transition: all 300ms ease;
      left: 6px;
      top: 3px;
      width: 4px;
      height: 7px;
      border: solid #fff;
      border-width: 0 2px 2px 0;
      -webkit-transform: rotate(45deg);
              transform: rotate(45deg); }

.radio {
  display: block;
  position: relative;
  padding-left: 33px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 0; }
  .radio:hover input ~ .radio-indicator {
    border-color: #818181; }
  .radio input {
    position: absolute;
    opacity: 0;
    cursor: pointer; }
    .radio input:checked ~ .radio-indicator {
      border-color: #009EEB; }
      .radio input:checked ~ .radio-indicator:after {
        display: block;
        background: #009EEB; }
  .radio .radio-indicator {
    position: absolute;
    top: 0;
    left: 0;
    height: 18px;
    width: 18px;
    border-radius: 50%;
    border: 2px solid #A3A3A3;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
    margin-top: 3px; }
    .radio .radio-indicator:after {
      content: "";
      position: absolute;
      top: 3px;
      left: 3px;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background: #F1F1F1;
      -webkit-transition: all 300ms ease;
      transition: all 300ms ease; }

table {
  width: 100%;
  border-bottom: none !important; }
  table span {
    font-weight: inherit;
    font-size: inherit;
    color: inherit; }
  table thead {
    border-bottom: 1px solid #D8D8D8; }
    table thead th {
      font-weight: 700; }
  table tbody tr {
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease; }
    table tbody tr:last-child td {
      border: none; }
    table tbody tr:hover {
      background: #F8FAFA; }
  table tbody td {
    padding: 20px 0;
    font-weight: 400;
    vertical-align: middle;
    border-bottom: 1px solid #D8D8D8; }
    table tbody td.actions svg {
      -webkit-transition: all 300ms ease;
      transition: all 300ms ease;
      margin-left: 15px;
      width: 22px;
      height: 22px;
      cursor: pointer; }
      table tbody td.actions svg:first-child {
        margin-left: 0; }
      table tbody td.actions svg:last-child {
        margin-right: 5px; }
      table tbody td.actions svg:hover.blue, table tbody td.actions svg:hover.black, table tbody td.actions svg:hover.grey {
        stroke: #007DBA; }
  table th, table td {
    text-align: left; }
    table th:last-child, table td:last-child {
      text-align: right;
      padding-right: 0 !important; }
  table .platform-icons img {
    width: 20px;
    height: 20px;
    margin-left: 10px; }
    table .platform-icons img:first-child {
      margin-left: 0; }

.table-avatar {
  min-width: 20px;
  min-height: 20px;
  width: 24px;
  height: 24px;
  background-position: center;
  background-size: cover;
  background-image: url("/assets/images/placeholder/profile-img.png");
  border-radius: 100%; }

.my-agents-table-total-listings {
  display: none; }

.toast {
  position: fixed;
  bottom: 100px;
  left: 50%;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  -webkit-transform: translate(-50%, 10px);
          transform: translate(-50%, 10px);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  background: #fff;
  -webkit-box-shadow: 0px 2px 4px rgba(31, 45, 61, 0.188);
          box-shadow: 0px 2px 4px rgba(31, 45, 61, 0.188);
  padding: 10px;
  border-radius: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .toast.undo {
    padding: 0; }
    .toast.undo .toast-message {
      padding: 0 20px 0 10px; }
    .toast.undo .toast-close {
      display: none; }
    .toast.undo .toast-undo {
      display: block; }
  .toast.show {
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .toast .toast-message {
    padding: 0 30px 0 10px; }
  .toast .toast-close {
    cursor: pointer;
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease; }
    .toast .toast-close:hover {
      color: #009EEB; }
  .toast .toast-undo {
    color: #009EEB;
    cursor: pointer;
    padding: 10px 20px;
    background-color: #F8FAFA;
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
    display: none; }
    .toast .toast-undo:hover {
      background-color: #F1F1F1; }

.ReactModal__Content {
  background-color: #fff;
  border-radius: 3px;
  -webkit-box-shadow: 0px 2px 4px rgba(31, 45, 61, 0.188);
          box-shadow: 0px 2px 4px rgba(31, 45, 61, 0.188);
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  width: 90%;
  max-width: 500px;
  margin: 0 auto;
  height: auto;
  padding: 20px;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  top: 100px !important;
  bottom: unset !important;
  max-height: calc(100vh - 140px);
  overflow-y: auto; }
  .ReactModal__Content.ReactModal__Content--after-open {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    -webkit-transform: translateY(0);
            transform: translateY(0); }
  .ReactModal__Content .popup-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 20px; }
  .ReactModal__Content .close-popup {
    cursor: pointer; }
  .ReactModal__Content .popup-buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    margin-top: 20px; }
    .ReactModal__Content .popup-buttons button, .ReactModal__Content .popup-buttons a, .ReactModal__Content .popup-buttons div {
      margin-right: 10px; }
      .ReactModal__Content .popup-buttons button:last-child, .ReactModal__Content .popup-buttons a:last-child, .ReactModal__Content .popup-buttons div:last-child {
        margin-right: 0; }

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 9;
  cursor: pointer;
  opacity: 0;
  pointer-events: none;
  visibility: hidden; }
  .popup-overlay.show {
    opacity: 1;
    pointer-events: auto;
    visibility: visible; }

.ReactModal__Overlay {
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.3) !important;
  cursor: pointer; }

.ReactModal__Content {
  cursor: auto; }

.ad-status-tag {
  padding: 0 5px;
  font-size: 14px;
  border-radius: 3px;
  color: rgba(0, 0, 0, 0.6);
  text-transform: capitalize; }
  .ad-status-tag.running {
    background: #13CE66; }
  .ad-status-tag.paused {
    background: #FFC82C; }
  .ad-status-tag.pending {
    background: #85D7FF; }
  .ad-status-tag.error {
    background: #FF5216; }
  .ad-status-tag.ended {
    background: #F1F1F1; }

.profile-pic {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  background-image: url("/assets/images/placeholder/profile-img.png");
  background-position: center;
  background-size: cover;
  position: relative;
  overflow: hidden;
  margin: 0 auto 20px; }
  .profile-pic:hover .upload-profile-pic {
    opacity: 1; }
  .profile-pic .upload-profile-pic {
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
    content: "";
    cursor: pointer;
    position: relative;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    opacity: 0; }

.profile-info li {
  margin-bottom: 20px; }
  .profile-info li:last-child {
    margin-bottom: 0; }
  .profile-info li .edit-profile-info {
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease; }
    .profile-info li .edit-profile-info:hover {
      color: #009EEB; }

.listings-container {
  display: grid;
  grid-gap: 15px;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr)); }
  .listings-container .listing {
    background-color: #fff;
    -webkit-box-shadow: 0px 2px 4px rgba(31, 45, 61, 0.06);
            box-shadow: 0px 2px 4px rgba(31, 45, 61, 0.06);
    border-radius: 3px;
    overflow: hidden;
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
    border: 1px solid #F1F1F1;
    cursor: pointer; }
    .listings-container .listing.selected {
      border: 1px solid #009EEB;
      -webkit-box-shadow: 0px 2px 4px rgba(31, 45, 61, 0.188);
              box-shadow: 0px 2px 4px rgba(31, 45, 61, 0.188); }
      .listings-container .listing.selected .listing-select {
        background-color: #009EEB; }
        .listings-container .listing.selected .listing-select img, .listings-container .listing.selected .listing-select svg {
          opacity: 1;
          -webkit-transform: rotate(0);
                  transform: rotate(0); }
    .listings-container .listing:hover {
      -webkit-box-shadow: 0px 2px 4px rgba(31, 45, 61, 0.188);
              box-shadow: 0px 2px 4px rgba(31, 45, 61, 0.188); }
    .listings-container .listing .listing-img {
      height: 160px;
      background-position: center;
      background-size: cover;
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
      position: relative; }
    .listings-container .listing .listing-select {
      position: absolute;
      top: 10px;
      right: 10px;
      border-radius: 50%;
      -webkit-transition: all 300ms ease;
      transition: all 300ms ease;
      background-color: rgba(255, 255, 255, 0.5);
      border: 1px solid #A3A3A3;
      width: 18px;
      height: 18px;
      cursor: pointer;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; }
      .listings-container .listing .listing-select:hover {
        background-color: white; }
      .listings-container .listing .listing-select img, .listings-container .listing .listing-select svg {
        opacity: 0;
        -webkit-transition: all 300ms ease;
        transition: all 300ms ease;
        -webkit-transition-delay: 200ms;
                transition-delay: 200ms;
        -webkit-transform: rotate(-45deg);
                transform: rotate(-45deg);
        -webkit-transform-origin: center;
                transform-origin: center;
        width: 12px;
        height: 12px; }
    .listings-container .listing .listing-info {
      padding: 0 20px; }
    .listings-container .listing .listing-details {
      padding: 0 20px; }
      .listings-container .listing .listing-details .dot {
        width: 3px;
        height: 3px;
        background: #818181;
        margin-right: 10px; }
      .listings-container .listing .listing-details span {
        margin-right: 10px;
        font-size: 14px; }
        .listings-container .listing .listing-details span:last-child {
          margin-right: 0; }
    .listings-container .listing .listing-actions > div {
      padding: 5px 0;
      background-color: #F8FAFA;
      -webkit-transition: all 300ms ease;
      transition: all 300ms ease;
      width: 100%;
      border-left: 1px solid #D8D8D8; }
      .listings-container .listing .listing-actions > div:first-child {
        border-left: none; }
      .listings-container .listing .listing-actions > div:hover {
        background-color: #e9efef; }

.filter-listings {
  position: relative; }
  .filter-listings.open > .carret {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg); }
  .filter-listings .filters {
    position: absolute;
    left: 0;
    top: calc(100% + 5px);
    background: #F8FAFA;
    padding: 20px;
    -webkit-box-shadow: 0px 2px 4px rgba(31, 45, 61, 0.188);
            box-shadow: 0px 2px 4px rgba(31, 45, 61, 0.188);
    min-width: 400px;
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
    visibility: hidden;
    pointer-events: none;
    opacity: 0;
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px); }
    .filter-listings .filters.show {
      visibility: visible;
      pointer-events: auto;
      opacity: 1;
      -webkit-transform: translateY(0);
              transform: translateY(0); }

.side-preview {
  width: 400px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  overflow-y: auto;
  padding: 0;
  background: #fff;
  z-index: 3;
  -webkit-box-shadow: -2px 0px 10px rgba(31, 45, 61, 0.3);
          box-shadow: -2px 0px 10px rgba(31, 45, 61, 0.3); }
  .side-preview .listing-preview-img {
    height: 190px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; }
  .side-preview .close-preview {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 35px;
    height: 35px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.6);
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease; }
    .side-preview .close-preview:hover {
      background-color: white; }
  .side-preview .preview-info {
    padding: 0 20px; }
  .side-preview .listing-details .dot, .side-preview .ad-details .dot {
    width: 3px;
    height: 3px;
    background: #818181;
    margin-right: 10px; }
  .side-preview .listing-details span, .side-preview .ad-details span {
    margin-right: 10px;
    font-size: 14px; }
    .side-preview .listing-details span:last-child, .side-preview .ad-details span:last-child {
      margin-right: 0; }
  .side-preview .ad-details .preview-platforms svg {
    margin-left: 5px; }
    .side-preview .ad-details .preview-platforms svg:first-child {
      margin-left: 0; }
  .side-preview .ad-details .dot {
    margin: 0 12px; }
  .side-preview .preview-mls, .side-preview .next-step {
    font-size: 14px; }
  .side-preview .preview-header {
    border-bottom: 1px solid #333333;
    padding-bottom: 5px;
    margin-bottom: 20px; }
  .side-preview .preview-actions svg {
    cursor: pointer;
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease; }
    .side-preview .preview-actions svg:hover {
      stroke: #007DBA; }
  .side-preview .active-auto-ads-list li, .side-preview .active-ads-list li {
    margin-bottom: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid #D8D8D8; }
    .side-preview .active-auto-ads-list li:last-child, .side-preview .active-ads-list li:last-child {
      margin-bottom: 0;
      padding-bottom: 0;
      border-bottom: none; }

.preview-overlay {
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 2;
  width: 100%;
  height: 100%;
  cursor: pointer; }

.template-detail img, .template-detail svg {
  width: 18px;
  height: 18px;
  min-width: 18px;
  min-height: 18px; }

.template-left-content {
  -ms-flex-preferred-size: auto;
      flex-basis: auto; }
  .template-left-content > .col {
    min-width: 350px; }

@media (max-width: 1300px) {
  .template-left-content > .col:first-child {
    padding-right: 0; } }
.permissions-list li {
  padding: 20px 0;
  border-bottom: 1px solid #D8D8D8; }
  .permissions-list li:last-child {
    border: none; }
.permissions-list img.pointer {
  width: 18px;
  height: 18px; }

.step-back {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #F1F1F1;
  cursor: pointer;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  margin-right: 15px;
  border-radius: 3px; }
  .step-back:hover {
    background-color: #E6E6E6; }
  .step-back svg, .step-back img {
    width: 24px;
    height: 24px; }

.age-separator {
  width: 15px;
  height: 2px;
  margin: 0 10px;
  background: #333333; }

.start-stop-picker {
  width: 25%;
  min-width: 250px; }
  .start-stop-picker .picker-label {
    width: 90px;
    text-align: right; }

.format-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .format-wrapper .format {
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
    border: 1px solid #818181;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative;
    border-radius: 3px;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    margin-left: 10px;
    padding: 30px 10px 25px;
    cursor: pointer; }
    .format-wrapper .format:first-child {
      margin-left: 0; }
    .format-wrapper .format:hover {
      border-color: #85D7FF; }
    .format-wrapper .format.active {
      border-color: #009EEB; }
    .format-wrapper .format.inactive {
      pointer-events: none; }
      .format-wrapper .format.inactive p, .format-wrapper .format.inactive h3 {
        color: #D8D8D8; }
    .format-wrapper .format .format-select {
      position: absolute;
      left: 10px;
      top: 10px; }
    .format-wrapper .format img {
      margin-bottom: 15px;
      width: 70px;
      height: 50px; }
    .format-wrapper .format p {
      margin-top: 5px; }

.fb-ad-preview-wrapper {
  position: -webkit-sticky;
  position: sticky;
  top: 100px; }

.fb-ad-preview {
  width: 375px;
  margin: 20px auto 0; }
  .fb-ad-preview .preview-avatar {
    background-size: cover;
    background-position: center;
    background-image: url("/assets/images/placeholder/profile-img.png");
    width: 40px;
    height: 40px;
    margin-right: 15px;
    border-radius: 100%; }
  .fb-ad-preview .profile-name {
    font-size: 14px;
    margin-bottom: -3px;
    font-weight: 700; }
  .fb-ad-preview .sponsored p {
    font-size: 12px;
    margin-right: 10px; }
  .fb-ad-preview .preview-text {
    font-size: 14px;
    margin-top: 20px;
    line-height: 20px; }
  .fb-ad-preview .preview-img {
    height: 230px;
    background-color: #F1F1F1;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 10px 0 0; }
    .fb-ad-preview .preview-img img {
      width: 32px;
      height: 32px; }
    .fb-ad-preview .preview-img .preview-img-text {
      margin-top: 15px; }
  .fb-ad-preview .preview-bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: #F8FAFA;
    padding: 10px; }
  .fb-ad-preview .preview-headline {
    font-size: 16px;
    margin: 5px 0;
    font-weight: 700; }
  .fb-ad-preview .preview-description {
    font-size: 12px;
    line-height: 18px; }
  .fb-ad-preview .preview-URL {
    font-size: 14px;
    color: #818181;
    text-transform: uppercase; }
  .fb-ad-preview .preview-cta {
    font-size: 12px;
    text-transform: uppercase;
    background-color: transparent;
    border: 1px solid #333333;
    padding: 5px 10px; }
    .fb-ad-preview .preview-cta.learn-more {
      width: 126px; }
  .fb-ad-preview .share-btns {
    border-top: 1px solid #D8D8D8; }

.card-content {
  padding: 20px;
  border: 1px solid #D8D8D8;
  margin-top: 13px;
  border-radius: 3px; }
  .card-content .card-img {
    width: 100%;
    height: calc(100vw * .5);
    min-height: 200px;
    max-height: 300px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 3px; }
  .card-content .listing-img-grid {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    margin-top: 10px;
    max-height: 300px;
    overflow-y: auto;
    padding-bottom: 20px; }
    .card-content .listing-img-grid .card-thumbnail {
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      border-radius: 3px;
      height: 70px;
      cursor: pointer;
      -webkit-transition: 300ms ease;
      transition: 300ms ease;
      position: relative; }
      .card-content .listing-img-grid .card-thumbnail.selected:before {
        z-index: 1;
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        content: "Selected";
        color: #fff;
        border-radius: 3px;
        font-size: 16px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        text-align: center; }
      .card-content .listing-img-grid .card-thumbnail:hover {
        -webkit-box-shadow: 0px 2px 4px rgba(31, 45, 61, 0.188);
                box-shadow: 0px 2px 4px rgba(31, 45, 61, 0.188); }

.card-btn {
  position: relative; }
  .card-btn.active .card-carret {
    display: block; }
  .card-btn .card-carret {
    border: 8px solid transparent;
    border-bottom-color: #D8D8D8;
    bottom: -13px;
    height: 0;
    left: 16px;
    margin: 0 auto;
    position: absolute;
    width: 0;
    z-index: 2;
    display: none; }

.preview-ations {
  font-size: 14px;
  margin: 10px -20px -20px; }
  .preview-ations > div {
    padding: 10px 0;
    cursor: pointer;
    background: #F1F1F1;
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease; }
    .preview-ations > div:hover {
      background: #E6E6E6; }
  .preview-ations > div:first-child {
    border-right: 1px solid #A3A3A3; }

.status {
  width: 8px;
  height: 8px;
  border-radius: 100%; }
  .status.running {
    background-color: #13CE66; }
  .status.paused {
    background-color: #FFC82C; }
  .status.pending {
    background-color: #85D7FF; }
  .status.error {
    background-color: #FF5216; }
  .status.ended {
    background-color: #A3A3A3; }

.back-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #F8FAFA;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  cursor: pointer;
  height: 20px;
  width: 20px; }
  .back-icon img, .back-icon svg {
    width: 16px;
    height: 16px; }

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.inline-flex {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex; }

.flex0 {
  -webkit-box-flex: 0;
      -ms-flex: 0;
          flex: 0; }

.flex1 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1; }

.flex2 {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2; }

.ai-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.ai-start {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start; }

.ai-end {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end; }

.jc-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.jc-end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end; }

.jc-start {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start; }

.jc-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.flex-wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.w-0 {
  width: 0; }

.w-5 {
  width: 5%; }

.w-10 {
  width: 10%; }

.w-15 {
  width: 15%; }

.w-20 {
  width: 20%; }

.w-25 {
  width: 25%; }

.w-30 {
  width: 30%; }

.w-35 {
  width: 35%; }

.w-40 {
  width: 40%; }

.w-45 {
  width: 45%; }

.w-50 {
  width: 50%; }

.w-55 {
  width: 55%; }

.w-60 {
  width: 60%; }

.w-65 {
  width: 65%; }

.w-70 {
  width: 70%; }

.w-75 {
  width: 75%; }

.w-80 {
  width: 80%; }

.w-85 {
  width: 85%; }

.w-90 {
  width: 90%; }

.w-95 {
  width: 95%; }

.w-100 {
  width: 100%;
  max-width: unset; }

.p-0 {
  padding: 0px; }

.p-10 {
  padding: 10px; }

.p-20 {
  padding: 20px; }

.p-30 {
  padding: 30px; }

.p-l-0 {
  padding-left: 0px; }

.p-l-10 {
  padding-left: 10px; }

.p-l-20 {
  padding-left: 20px; }

.p-r-0 {
  padding-right: 0px; }

.p-r-10 {
  padding-right: 10px; }

.p-r-20 {
  padding-right: 20px; }

.p-r-30 {
  padding-right: 30px; }

.p-r-40 {
  padding-right: 40px; }

.p-t-0 {
  padding-top: 0px; }

.p-t-10 {
  padding-top: 10px; }

.p-t-20 {
  padding-top: 20px; }

.p-t-25 {
  padding-top: 25px; }

.p-t-30 {
  padding-top: 30px; }

.p-t-40 {
  padding-top: 40px; }

.p-b-0 {
  padding-bottom: 0px; }

.p-b-10 {
  padding-bottom: 10px; }

.p-b-20 {
  padding-bottom: 20px; }

.p-b-30 {
  padding-bottom: 30px; }

.p-b-40 {
  padding-bottom: 40px; }

.m-0 {
  margin: 0px; }

.m-l-5 {
  margin-left: 5px; }

.m-l-10 {
  margin-left: 10px; }

.m-l-15 {
  margin-left: 15px; }

.m-l-20 {
  margin-left: 20px; }

.m-l-30 {
  margin-left: 30px; }

.m-l-40 {
  margin-left: 40px; }

.m-r-5 {
  margin-right: 5px; }

.m-r-10 {
  margin-right: 10px; }

.m-r-15 {
  margin-right: 15px; }

.m-r-20 {
  margin-right: 20px; }

.m-r-30 {
  margin-right: 30px; }

.m-r-40 {
  margin-right: 40px; }

.m-t-0 {
  margin-top: 0; }

.m-t-5 {
  margin-top: 5px; }

.m-t-0 {
  margin-top: 0px; }

.m-t-10 {
  margin-top: 10px; }

.m-t-15 {
  margin-top: 15px; }

.m-t-20 {
  margin-top: 20px; }

.m-t-25 {
  margin-top: 20px; }

.m-t-30 {
  margin-top: 30px; }

.m-t-40 {
  margin-top: 40px; }

.m-t-50 {
  margin-top: 50px; }

.m-t-60 {
  margin-top: 60px; }

.m-b-0 {
  margin-bottom: 0px; }

.m-b-5 {
  margin-bottom: 5px; }

.m-b-10 {
  margin-bottom: 10px; }

.m-b-15 {
  margin-bottom: 15px; }

.m-b-20 {
  margin-bottom: 20px; }

.m-b-25 {
  margin-bottom: 25px; }

.m-b-30 {
  margin-bottom: 30px; }

.m-b-40 {
  margin-bottom: 40px; }

.m-b-50 {
  margin-bottom: 50px; }

.m-b-60 {
  margin-bottom: 60px; }

.pointer {
  cursor: pointer; }

.gap-30 {
  height: 30px;
  width: 100%; }

.hide {
  display: none !important; }

.show {
  display: block;
  visibility: visible; }

.ta-center {
  text-align: center !important; }

.ta-left {
  text-align: left !important; }

.ta-right {
  text-align: right !important; }

.truncate {
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }
